<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style type="text/css">
	.cartcontent img{
		width: 9rem;
		padding-left: 0.5rem;
		display: block;
		margin-top: 0.2rem;
	}
	.introduce{
		width: 9rem;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		word-break:break-all;
		font-size: 0.3rem;
		min-height: 0.8rem;
		line-height: 0.8rem;
	}
	</style>
</head>
<body>
<nav class="quithead"><a class="iconfont goback" ng-click="goback()">&#xe779;</a><span>光速货的</span></nav><div class="clear"></div>
	<div class="maincontent cartcontent">
		<p class="perhead">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关于我们
		</p>
		<img src="images/ban1.jpg">
		<p class="introduce"><strong>地址：</strong>保定市徐水区107国道史各庄路口南。</p>
		<p class="introduce"><strong>联系电话：</strong>15631298292</p>
		<img src="images/ban2.jpg">
		<p class="introduce"><strong>公司简介：</strong>保定光速货的运输有限公司是经政府部门批准成立的以货运出租车模式运营的专业化公司，以“节能减排，低碳出行”为宗旨，以“互联网技术为平台”的新型运营企业。 <br>公司拥有各种型号的车辆，内置GPS定位系统，快速调度就近车辆服务货运企业，并应客户需要追踪货物所在位置，杜绝安全隐患。<br>保定光速货的利用现代互联网技术、移动互联网技术、GPS检测系统、车辆调度管理系统解决“空车回程”“空置率高”等问题，解决路面出行压力。<br>光速货的一直坚持统一形象、统一管理、统一调度、统一配送、统一计价的发展模式，保证车型齐全，随叫随到，代收货款当天支付，树立行业新标杆。立足保定，服务京津冀。</p>
		<img src="images/ban2.jpg">
		<p class="introduce"><strong>公司优势：</strong><br>1、移动互联网技术、微信小助手、GPS定位系统等技术的应用方便商户叫车。<br>2、保定光速货的有限公司是经政府批准成立的，可开具正规发票。<br>3、光速货的所有车辆GPS定位，保证随时查询到货物的位置。<br>4、光速货的所有司机是经过专业安全知识培训，驾龄都在2年以上，公司为车上保险，是商户、车和司机的有力保障。<br>5、货运出租车的模式就是打造正规、健全、有保障的小型物流服务体系，实行统一形象，统一管理，统一调度，统一计价，保定本土化特点进行货物运输，以“货运出租车”新颖模式运营，服务优质、快捷、安全、高效。</p>
	</div>
	<footer>
		<div class="quit" ng-click="goback()">
			返回个人中心
		</div>
	</footer>
</body>
</html>